@font-face {
    font-family: 'gteestiprodisplay';
    src: url('@/assets/fonts/gteestiprodisplay.otf') format('opentype');
    font-display: block;
}

:root {
    --gte: 'gteestiprodisplay', sans-serif;
}


body {
    margin: 0;
    overflow: hidden;
    touch-action: pan-x pan-y;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
    touch-action: manipulation;
}
._formContent_1mhdz_34 {
    padding: 0 0 150px;
  }